// 单行文本省略并添加省略号
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行文本省略并添加省略号
@mixin ellipsisRows($row) {
  display: box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $row;
}
